{% assign speaker-slug = speaker.name | downcase | replace: ' ', '-' %}
<td id="td-{{ speaker-slug }}" class="speaker-schedule-listing">
  <a href="#td={{ speaker-slug }}" class="talk-modal-link" data-speaker-slug="{{ speaker-slug }}">
    <strong>{{ speaker.name }}</strong>
    <br/>
    <em>{{ speaker.title }}</em>
    <br/>
  </a>
  {% if speaker.workshop %}
    <span class="tag is-warning is-light">Workshop</span>
  {% else %}
    <span class="tag is-success is-light">Talk</span>
  {% endif %}
</td>
